*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#header{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    color: white;
    font-weight: 700;
    font-size: 32px;
    padding-top: 10px;


}
#content{
    width: 70%;
    /* background-color: red; */
    padding:20px 80px 20px 80px ;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    margin-left: 303.8px;

}

#right-side{
    width: 20%;
    height: 100%;
    /* background-color: brown; */
    margin-top: 70px;
    position: fixed;
    float: left;
    
}
p{
    line-height: 1.34;
    padding-bottom: 10px;
}

h1, h2, h3, h4{
    line-height: 50px;
    color: rgb(112, 27, 27);
}
#right-side img{
    width: 100%;
    height: 100%;
}

li{
    margin-left: 20px;
    line-height: 20px;
    padding-bottom: 10px;
    
}

#outline{
    position: fixed;
    right: 30px;
    top:250px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    opacity: 0.6;

}

#outline li{
    padding-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
}
#outline:hover{
    opacity: 1;
}
a:hover{
    color:  rgb(112, 27, 27);
}
#des{
    font-size: 40px;
}
#Recipe, #video, #des{
    margin-top: 40px;
}

i{
    padding-right: 5px;
}